/* STYLES TO BE USED IN ALL PAGES */

body {
  background-color: lightgrey;
  font-family: Arial, sans-serif;  /*Arial vs. Verdana?*/
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  /* Consider adding IE compatibility for button alignment */
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
}

.header-logo {
  height: 45px;
  width: auto;
  margin: 4px;
}

.header-buttons {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.button {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #DBDBDB;
  border: 0;
  border-radius: 3px;
  font-size: 100%;
  text-decoration: none;
  color: black;
  margin: 2px;
  min-height: 25px;
  /* height and line-height make it so that the text can be centered easily */
  height: 28px;
  line-height: 28px;
  text-align: center;
  /* Makes it so that button text stays on one line. overflow:hidden; could be
   * used instead to truncate long button names */
  white-space: nowrap;
}

.button:hover {
  background-color: #CCC;
}

div.main {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 9px;
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: white;
  min-height: 100%;
}

/* Firefox compatibility */
.button, select {
  font-family: Arial, sans-serif;
}

hr.main-divider {
  position: relative;
  right: 25px;
  width: calc(100% + 50px);

  border: 0;
  height: 6px;
  background: lightgrey;
  box-shadow: 0 -2px #AAA;
}

textarea {
  width: 400px;
  height: 80px;
}

input[type="number"] {
  width: 3em;
}

/* Gets rid of the margin on small devices */
@media screen and (max-width: 720px) {
  div.main {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  body {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  header {
    height: 90px;
    align-items: flex-start;
  }

  .header-buttons {
    top: 53px;
    width: 100%;
    white-space: nowrap;
  }

  .header-buttons .button {
    width: 26%;
  }

  .header-buttons .button:nth-child(1) {
    margin-left: 10px;
  }
}

/* STYLES TO BE USED IN CSS TABLES */

/* A table (e.g. of flights/flight info) */
.f-table {
  display: table;
  border-collapse: collapse;
  border: 1px #AAA solid;
  margin-bottom: 10px;
}

/* Currently unused. Can be used to resize table columns */
.f-col {
  display: table-column;
}

.f-row {
  display: table-row;
  background-color: #F8F8F8;
}

.f-row:nth-of-type(odd) {
  background-color: #F0F0F0;
}

.f-row-header {
  display: table-row;
  background-color: #FFF;
  font-size: smaller;
}

.f-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 4px;
  padding-right: 15px;
}

.f-row-header .f-cell {
  border-left: 1px solid #F0F0F0;
  background: linear-gradient(#FFF, #FFF, #FFF, #FFF, #F8F8F8);
}

.f-row-header .f-cell-noheader, .f-row-header .f-cell:nth-child(1) {
  border-left: none;
}

/* A class that is used to keep related data aligned together */
.f-info {
  display: table-cell;
  text-align: center;
}

/* A class that is used to separate f-info cells.
 * Should contain a character (e.g. An arrow or hyphen) */
.f-separator {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.f-logo {
  width: 44px;
  height: 44px;
  float: left;
}

/* The flight city and time/date displayed in a table */
.f-city, .f-time {
  font-size: smaller;
}

/* STYLES TO BE USED IN THE DETAILED FLIGHT INFO PAGE */

/* Used to vertically center the airline logo img and the heading */
.detail-view-header {
  display: flex;
  align-items: center;
}

.detail-view-logo {
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 10px;
}

/* Like the f-row class */
.f-row-detail-view {
  height: 80px;
}
